body {
	font-family: monospace;
	width: 90vw;
	height: 90vh;
	text-align: center;
	color: rgb(91, 113, 116);
}

.container {
	background-image: linear-gradient(
		-225deg,
		#66a4ad 0%,
		rgb(215, 218, 223) 48%,
		#c4e0e5 100%
	);
	border: 2px solid #66a4ad;
	width: 1106px;
	margin: 35px auto;
	height: 80vh;
	border-radius: 5px;
}

.search-bar {
	padding-top: 30px;
	margin: 0 auto 30px;
	height: 50px;
	width: 600px;
}

.form-control {
	width: 350px;
	height: 35px;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	display: inline-block;
}

.form-control:focus {
	box-shadow: none;
}

.search-btn {
	border-radius: 10px;
	padding: 0 15px;
	margin: 0;
	height: 35px;
	font-size: 17px;
	border: #66a4ad;
	display: inline;
}

.search-btn:hover {
	background: #66a4ad;
	color: #fff;
	border: none;
}

.row {
	padding-top: 30px;
}

.todays-weather {
	width: 550px;
	height: 450px;
	margin: 0px;
	display: block;
	border-right: 2px solid rgba(116, 101, 101, 0.641);
}

h1 {
	letter-spacing: 1.2px;
	padding-bottom: 20px;
	font-size: 33px;
	text-align: center;
	font-weight: 600;
}

.circle {
	height: 150px;
	border-radius: 50%;
	background: rgb(210, 214, 214);
	border: 5px solid #66a4ad;
	width: 150px;
	padding: 20px;
	margin: 20px auto 0;
}

.circle img {
	height: 150px;
	width: 150px;
	position: relative;
	bottom: 27px;
	right: 27px;
	color: none;
}

.temp {
	font-size: 26px;
	letter-spacing: 1.2px;
	text-align: center;
	margin-bottom: 15px;
}

.info {
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
}

ul {
	margin-right: 21px;
}

li {
	list-style: none;
}

.future-weather {
	display: block;
	height: 450px;
	border-left: 2px solid rgba(116, 101, 101, 0.641);
	margin-bottom: 10px;
}

.future-weather h2 {
	text-align: center;
	letter-spacing: 1.2px;
	font-size: 30px;
	font-weight: 600;
}

.row .forecast {
	padding: none;
}

.boxes{
	display: flex;
	flex-wrap: wrap;
}

.box {
	height: 180px;
	width: 120px;
	margin: 0 20px 10px;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.box img {
	height: 100px;
	width: 100px;
	
}

p a {
	bottom: 700px;
}

.crnt-date {
	color: #66a4ad;
	font-size: 15px;
}

small {
	color: rgba(170, 162, 162, 0.6);
}

.weather-btn {
	background: #fff;
	color: #66a4ad;
	height: 35px;
	width: 35px;
	margin-left: 30px;
	border-radius: 50%;
	border: 1px solid #66a4ad;
}

.weather-btn:hover {
	background: #66a4ad;
	color: #fff;
	border: 1px solid #fff;
}

.fa-location-arrow:before {
    position: relative;
    bottom: -2px;
		left: -1px;
}